.gbwrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.playerzone {
    /*background-color: gray;*/
    background-image: url('/assets/textures/playerzone.png');
    background-repeat: repeat;
    width:100%;
    height:20%;
    display: flex;
    flex-direction: column;
}

#opponentzone {
    height:20%;
}

#myzone {
    height:40%;
}

.playerzonetop {
    display: flex;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.fightzone {
    /*background-color: #F4A460;*/
    background-image: url('/assets/textures/fightzone.png');
    background-repeat: repeat;
    border-top:1px solid #F3CD2C;
    border-bottom:1px solid #F3CD2C;
    width:100%;
    height:40%;
    display:flex;
    padding-bottom: 0.7em;
}

.fightzoneground {
    width:100%;
}

.division {
    height: 50%;
    /*border:1px solid black;*/
}

.fightzoneside {
    display: flex;
    align-items: center;
    flex-direction: column;
	align-items: stretch;
}

.fightzoneside button {
    margin-right: 0.4em;
}


.heropreview {
    width:5.5em;
    margin-left: auto;
    margin-right:auto;
    /*border: 1px solid;*/
}

#heroOpponent:hover {
    cursor:hover;
}

.herospecial {
    border: 1px solid;
    border-radius: 5em;    
    height: 3em;
    width:3em;
    margin: 0.5em;
}

.herospecial img {
    border-radius: 5em;
}

.lifepoints {
    border-top: 1px solid;
    text-align: center;
    font-size: 10px;
}

.playercards {
    margin-top: 0.5em;
    flex-grow: 1;
    flex-direction: column;
}

.cardcontainer {
    flex-grow:1;
    border:1px solid black;
    border-radius: 5px;
    margin:0.5em;
    width: 5em;
    /*background-color: darkslategrey;*/
    border: 1px solid #F3CD2C;
    color: black;
    background-color: grey;
    position: relative;
}

.active-card {
    box-shadow: 0 4px 8px 0, 0 6px 20px 0 #F3CD2C;
}

.active-skill {
    box-shadow: 0px 0px 3px 4px, 1px 6px 10px 0 #F3CD2C;
}

.cardcontainer:hover {
    cursor:pointer;
}

.cardimg {
    width: 75%;
    margin: 0.2em;
}

.cardtitle, .cardspecs, .carddescription {
    font-size: 11px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.cardswrapper {
   display:flex;
   width: min-content;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#myspecial:hover {
    cursor:pointer;
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
  }

  .tooltiptext::after {
    content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  }
/*
  .cardcontainer:hover .tooltiptext {
      visibility: visible;
  }
  */