<div class="gbwrapper">

  <div id="opponentzone" class="playerzone">
    <div class="playerzonetop">
      <div id="heroOpponent" style="cursor: pointer;" class="heropreview" (click) = "selectTargetHero(opponentHero)">
        <img src="../assets/heroes/{{opponentHero.type}}_preview.svg" alt="opponent hero preview">
        <div class="lifepoints">
          Life : {{opponentHero.lifepoints}}/30<br>
          Def : {{opponentHero.defense}}
        </div>
      </div>
      <div class="herospecial">
        <img src="../assets/herospecial/fire-spell-cast.svg" alt="hero special attack">
      </div>
      <div class="manapoints">
        {{opponent.mana}}/{{opponent.stored_mana}}
      </div>
    </div>
  </div>

  <div class="fightzone">
    <div class="fightzoneground">
      <div id="ennemyground" class="division">
        <div class="cardswrapper">
          <div *ngFor="let card of opponentCardsOnGround" class="cardcontainer" (click)="selectTargetServant(card)">
            <img class="cardimg" src="../assets/cards/default.svg" alt="Card image">
            <div class="">
              <p class="cardtitle">{{card.name}}</p>
              <p class="cardspecs">{{card.manacost}}/{{card.damage}}/{{card.lifepoints}}</p>
              <p class="carddescription">{{card.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div id="myground" class="division">
        <div class="cardswrapper">
          <div *ngFor="let card of cardsOnGround" class="cardcontainer" 
          [className]="card.canAttack === true ? 'cardcontainer active-card' : 'cardcontainer'"
          (click)="selectServant(card)">
            <img class="cardimg" src="../assets/cards/default.svg" alt="Card image">
            <div class="">
              <p class="cardtitle">{{card.name}}</p>
              <p class="cardspecs">{{card.manacost}}/{{card.damage}}/{{card.lifepoints}}</p>
              <p class="carddescription">{{card.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fightzoneside">
      <button class="btn btn-primary" style="margin-top: 2em;" [disabled]= !myturn id="enemyTurnBtn" (click)="endMyTurn()">End my turn</button><br>
      <button class="btn btn-danger" (click)="logout()">Logout</button><br>
    </div>
  </div>

  <div id="myzone" class="playerzone">
    <div class="playerzonetop">
      <div class="heropreview" >
        <img src="../assets/heroes/{{hero.type}}_preview.svg" alt="my hero preview">
        <div class="lifepoints">
          Life: {{hero.lifepoints}}/30<br>
          Def: {{hero.defense}}
        </div>
      </div>
      <div id="myspecial" class="herospecial" (click)="selectHerospecial()"
      [className]="hero.canUseSpecialSkill === true ? 'herospecial active-skill' : 'herospecial'"
      >
        <img src="../assets/herospecial/fire-spell-cast.svg" alt="hero special attack">
      </div>
      <div class="manapoints">
        {{player.mana}}/{{player.stored_mana}}
      </div>
    </div>
    <div class="playercards">
      <div class="cardswrapper">
        <div *ngFor="let card of handOfCards" class="cardcontainer" (click)="selectCardInHand(card)">
          <img class="cardimg" src="../assets/cards/default.svg" alt="Card image">
          <div class="">
            <p class="cardtitle">{{card.name}}</p>
            <p class="cardspecs">{{card.manacost}}/{{card.damage}}/{{card.lifepoints}}</p>
            <p class="carddescription">{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="gameboardMessagesModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Notification</h2>
      <span (click)="hideGameboardMessagesModal()" class="close">&times;</span>
    </div>
    <div id="serverMessageGameBoard" class="modal-body">
      <!-- Server message -->
    </div>
    <div class="modal-footer">
      <button id="gameboardOkBtn" (click)="hideGameboardMessagesModal()">Ok</button>
    </div>
  </div>

</div>
