.heroes {
    display:flex;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

.herodiv {
    flex-grow: 1;
    flex-basis: 0;
    border:1px solid transparent;
}

.herodiv:hover {
    border:1px solid #F3CD2C;
}

.card {
    background-color: transparent;
}
.card:hover {
    cursor: pointer;
}

#gameStartNotificationModal {
    display: none;
}