
/* Global styles here */
html,body {
    margin:0;
    padding:0;
    background-color: #090E21;
    color: #F3CD2C;
    font-family: Calibri,Arial, Helvetica, sans-serif;
}

/* Global styles here */
html,body {
    margin:0;
    padding:0;
}
button:hover {
  cursor:pointer;
}
/* Modal popup box style */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    color:white;
    position: relative;
    background-color: #6B6B6B;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    border-top: 0px;
    border-bottom: 0px;
    padding: 2px 16px;
    /*background-color: #5cb85c;
    color: white;
    */
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    border-bottom: 0px;
    border-top: 0px;
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    color: white;
  }