
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="playerName">
    <div class="input-group-append">
      <button class="btn btn-success" (click)="login(playerName);">Play!</button>
      </div>
  </div>
  <div [hidden]="showmessage">
      <p>This username is already chosen</p>
  </div>