<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
<!-- 
<button (click)="sendMessage();">
  send message
</button>


<button (click)="getCard();">
  getCard
</button>

Username: <input type="text"/> <button (click)="getMatch();">Play!</button>
-->

<!-- The Modal -->
<div id="generalNotificationModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Server message</h2>
      <span (click)="hideGeneralNotificationModal()" class="close">&times;</span>
    </div>
    <div id="serverNotificationMessage" class="modal-body">
      <!-- Server message -->
    </div>
    
  </div>

</div>